/* GLOBAL */

* {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style-type: none;
}

.w-60 {
  width: 60%;
  margin: auto;
}

.w-50 {
  width: 50%;
  margin: auto;
}

.vg-pad-vert-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vg-text-blue {
  color: blue;
}

/* /GLOBAL */

/* HEADER */

#vg-header-wrapper {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}

#vg-header-wrapper img {
  width: 160px;
}

#vg-header-wrapper ul {
  display: inline-block;
}

#vg-header-wrapper ul li {
  display: inline-block;
  list-style-type: none;
}

/* /HEADER */

/* JUMBOTRON */

/* general jumbotron settings */

#vg-jumbotron {
  width: 100%;
  min-height: 490px;
  margin-top: 70px;
  background-color: #004aff;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: 134%;
  background-position: -221px -7px;
}

/* /general jumbotron settings */

/* box left jumbotron */

#vg-jumbotron .vg-box-left-jumbotron h1 {
  color: white;
  font-size: 62px;
  font-weight: 700;
}

#vg-jumbotron .vg-box-left-jumbotron p {
  color: white;
  font-size: 23px;
  opacity: 0.8;
}

/* /box left jumbotron */

/* box right jumbotron */

#vg-jumbotron .vg-box-right-jumbotron {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}

#vg-jumbotron .vg-box-right-jumbotron h3 {
  font-weight: 600;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron {
  width: 90%;
  margin: 0 auto;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron input,
#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron button {
  width: 100%;
}

/* /box right jumbotron */

/* /JUMBOTRON */

/* CUSTOMERS (LOGO) */
#vg-customers-logo {
  width: 100%;
  min-height: 275px;
  background-color: #f3f5f9;
}

.vg-box-logos > img {
  width: 100%;
}

/* /CUSTOMERS (LOGO) */

/* DEPLOY AND SCALE */

#vg-deploy-and-scale {
  width: 100%;
  min-height: 600px;
  background-color: lightslategray;
}

.vg-list-deploy-and-scale {
  border-left: 1px solid white;
}

.vg-list-deploy-and-scale ul {
  list-style-type: none;
  padding-left: 10px;
}

.vg-box-deploy-and-scale {
  min-height: 200px;
}

/* /DEPLOY AND SCALE */

/* DESIGNED FOR DEVELOPERS */

#vg-designed-for-developers {
  width: 100%;
  min-height: 600px;
  background-color: lightpink;
}

#vg-designed-for-developers img {
  width: 50%;
}
/* /DESIGNED FOR DEVELOPERS */

/* FEATURES FOR DEVELOPERS */

#vg-features-for-developers {
  width: 100%;
  height: 600px;
  background-color: lemonchiffon;
}

/* /FEATURES FOR DEVELOPERS */

/* REGIONS */

#vg-regions {
  width: 100%;
  height: 420px;
  background-color: lightsalmon;
}

/* /REGIONS */

/* CUSTOMERS REVIEW */

#vg-customers-review {
  width: 100%;
  height: 600px;
  background-color: palegreen;
}

/* /CUSTOMERS REVIEW */

/* GET STARTED */

#vg-get-started {
  width: 100%;
  height: 250px;
  background-color: powderblue;
}

/* /GET STARTED */

/* FOOTER */

.vg-footer-wrapper {
  width: 100%;
  min-height: 500px;
  background-color: rgba(12, 239, 69, 0.534);
}

/* /FOOTER */
