/* GLOBAL */

* {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

.vg-title-dark-blue {
  font-size: 33px;
  font-weight: 700;
  color: #031c4e;
}

.w-60 {
  width: 60%;
  margin: auto;
}

.w-50 {
  width: 50%;
  margin: auto;
}

.vg-weight-500 {
  font-weight: 500;
}

.vg-mar-top-20 {
  margin-top: 20px;
}

.vg-pad-vert-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vg-text-blue {
  color: #006aff;
}

.vg-btn-blue {
  border: 1px solid #004aff;
  border-radius: 4px;
  color: #004aff;
}

.vg-btn-back-blue {
  background-color: #579aff;
  color: white;
  border: none;
}

/* /GLOBAL */

/* HEADER */

#vg-header-wrapper {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}

#vg-header-wrapper img {
  width: 160px;
}

#vg-header-wrapper ul {
  display: inline-block;
}

#vg-header-wrapper ul li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
  font-size: 17px;
  color: black;
  cursor: pointer;
}

/* /HEADER */

/* JUMBOTRON */

/* general jumbotron settings */

#vg-jumbotron {
  width: 100%;
  min-height: 490px;
  margin-top: 70px;
  background-color: #004aff;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: 134%;
  background-position: -221px -7px;
}

/* /general jumbotron settings */

/* box left jumbotron */

#vg-jumbotron .vg-box-left-jumbotron h1 {
  color: white;
  font-size: 62px;
  font-weight: 700;
}

#vg-jumbotron .vg-box-left-jumbotron p {
  color: white;
  font-size: 23px;
  opacity: 0.8;
}

/* /box left jumbotron */

/* box right jumbotron */

#vg-jumbotron .vg-box-right-jumbotron {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#vg-jumbotron .vg-box-right-jumbotron h3 {
  font-size: 29px;
  font-weight: 600;
}

.vg-box-right-jumbotron .vg-btn-google {
  font-weight: 700;
  background-image: url(../img/google-icon.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 50%;
}

#vg-jumbotron .vg-box-right-jumbotron h3:nth-child(2) {
  margin-top: 0;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron {
  width: 90%;
  margin: 0 auto;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron input,
#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron div {
  width: 100%;
}

.vg-form-right-jumbotron input {
  height: 45px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.vg-form-right-jumbotron input[type="password"],
.vg-form-right-jumbotron div,
.vg-box-right-jumbotron p {
  margin-top: 10px;
}

::placeholder {
  font-size: 16px;
  font-weight: 700;
}

.vg-form-right-jumbotron div img {
  height: 20px;
}

.vg-box-right-jumbotron p {
  font-weight: 500;
}

.vg-box-right-jumbotron p > a {
  color: #579aff;
  text-decoration: underline;
}

/* /box right jumbotron */

/* /JUMBOTRON */

/* CUSTOMERS (LOGO) */
#vg-customers-logo {
  width: 100%;
  min-height: 275px;
  padding-top: 40px;
  background-color: #f3f5f9;
}

#vg-customers-logo h4 {
  font-size: 16px;
  color: #7c87a0;
}

.vg-box-logos > img {
  width: 100%;
  height: 150px;
}

#vg-customers-logo a {
  font-size: 16px;
}

/* /CUSTOMERS (LOGO) */

/* DEPLOY AND SCALE */

#vg-deploy-and-scale {
  width: 100%;
  min-height: 600px;
  padding-top: 80px;
  padding-bottom: 75px;
}

#vg-deploy-and-scale p.vg-subtitle-deploy {
  font-size: 22.8px;
  margin-bottom: 75px;
}

.vg-list-deploy-and-scale {
  border-left: 1px solid rgb(167, 168, 171, 0.8);
  padding-left: 8px;
}

.vg-list-deploy-and-scale ul {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.vg-list-deploy-and-scale ul li {
  color: rgb(167, 168, 171, 0.8);
  font-size: 22px;
}

.vg-list-deploy-and-scale ul li:nth-child(2),
.vg-list-deploy-and-scale ul li:nth-child(3),
.vg-list-deploy-and-scale ul li:nth-child(4),
.vg-list-deploy-and-scale ul li:nth-child(5) {
  margin-top: 25px;
}

.vg-box-deploy-and-scale {
  min-height: 200px;
}

.vg-box-deploy-and-scale h4 {
  font-weight: 700;
  margin-top: 20px;
}

.vg-box-deploy-and-scale p {
  font-size: 15px;
}

/* /DEPLOY AND SCALE */

/* DESIGNED FOR DEVELOPERS */

#vg-designed-for-developers {
  width: 100%;
  min-height: 200px;
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #f3f5f9;
}

#vg-designed-for-developers .vg-subtitle-designed {
  font-size: 22.8px;
  margin-bottom: 75px;
}

#vg-designed-for-developers img {
  width: 50%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.vg-custom-angle {
  font-size: 3.5em;
}

.vg-figcaption-designed {
  font-size: 16px;
  font-weight: 700;
}

.vg-custom-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  content: "";
  border: 1px solid #006aff;
  border-radius: 50%;
  cursor: pointer;
}

.vg-custom-circle:hover,
.vg-custom-circle:active {
  background-color: #006aff;
}

/* /DESIGNED FOR DEVELOPERS */

/* FEATURES FOR DEVELOPERS */

#vg-features-for-developers {
  width: 100%;
  min-height: 200px;
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: white;
}

#vg-features-for-developers h2 {
  margin-bottom: 40px;
}

.vg-box-features-for-developers img {
  margin-bottom: 20px;
}

.vg-box-features-for-developers h4 {
  font-weight: 700;
}

.vg-box-features-for-developers a {
  color: #1276ff;
  font-weight: 500;
}

/* /FEATURES FOR DEVELOPERS */

/* REGIONS */

#vg-regions {
  width: 100%;
  min-height: 420px;
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #0040bd;
  color: white;
}

#vg-regions h2 {
  font-size: 33px;
  margin-top: 0;
  margin-bottom: 20px;
}

.vg-custom-col {
  padding-right: 33px;
}

.vg-custom-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.vg-custom-last-row {
  padding-top: 10px;
}

.vg-text-bold {
  font-weight: 500;
}

.vg-text-transparent {
  opacity: 0.8;
}

.vg-text-azure {
  color: #00bacb;
}

/* /REGIONS */

/* CUSTOMERS REVIEW */

#vg-customers-review {
  width: 100%;
  min-height: 600px;
  padding-top: 85px;
  background-color: #f3f5f9;
}

#vg-customers-review h2 {
  margin-bottom: 100px;
}

.vg-col-relative {
  position: relative;
}

.vg-angle-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.vg-angle-right {
  left: 77%;
}

.vg-angle-left {
  left: 20%;
}

.vg-box-review {
  display: inline-block;
  width: 50%;
  margin: auto;
  min-height: 300px;
  margin-bottom: 35px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: white;
  font-weight: 700;
}

.vg-box-review img {
  width: 50%;
  margin-bottom: 25px;
}

.vg-box-review .vg-quotes-review {
  font-size: 21px;
  font-weight: 500;
  opacity: 0.8;
}

.vg-box-review .vg-author-review {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}

#vg-customers-review .vg-custom-circle {
  margin-bottom: 70px;
}

/* /CUSTOMERS REVIEW */

/* GET STARTED */

#vg-get-started {
  width: 100%;
  min-height: 250px;
  padding-top: 80px;
  padding-bottom: 60px;
  color: white;
  background-color: #0035af;
}

#vg-get-started h2 {
  font-size: 34px;
  margin-bottom: 35px;
}

.vg-btn-white-large {
  font-size: 18px;
  color: #0d73ff;
  background-color: white;
  padding: 10px 16px;
  font-weight: 500;
}

/* /GET STARTED */

/* FOOTER */

.vg-footer-wrapper {
  width: 100%;
  min-height: 500px;
  background-color: #031c4e;
  color: white;
  padding-top: 60px;
}

.vg-copyright-footer {
  margin-top: 12px;
  margin-bottom: 12px;
}

.vg-social-custom-footer {
  margin-right: 12px;
  font-size: 1.7em;
}

.vg-footer-wrapper a {
  color: white;
}

.vg-footer-wrapper ul li.vg-list-title-footer {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.vg-footer-wrapper ul li {
  margin-top: 15px;
}

/* /FOOTER */

/* NAVBAR WITH SHARK */

.vg-shark-nav {
  background-color: blue;
}

.vg-box-msg-shark {
  position: relative;
  width: 350px;
  padding-right: 35px;
  padding-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  background-color: white;
}

.vg-box-msg-shark p {
  font-size: 16.3px;
  font-weight: 500;
  margin-bottom: 0;
}

.vg-box-msg-shark:after {
  position: absolute;
  display: block;
  content: "";
  top: 40px;
  left: 343px;
  transform: rotate(45deg);
  width: 13px;
  height: 13px;
  background-color: white;
}

/* /NAVBAR WITH SHARK */

/* MEDIA QUERY CUSTOM */

@media all and (max-width: 991px) {
  #vg-regions .vg-custom-col {
    margin-top: 40px;
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  #vg-deploy-and-scale .vg-box-deploy-and-scale {
    min-height: 250px;
  }

  #vg-jumbotron .vg-box-left-jumbotron h1 {
    font-size: 38px;
  }

  #vg-jumbotron .vg-box-left-jumbotron p {
    font-size: 23px;
  }
}

@media all and (max-width: 767px) {
  #vg-jumbotron .vg-box-left-jumbotron h1 {
    font-size: 36px;
  }

  #vg-jumbotron .vg-box-left-jumbotron p {
    font-size: 20.5px;
  }
}
/* /MEDIA QUERY CUSTOM */
