/* GLOBAL */

* {
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

.w-60 {
  width: 60%;
  margin: auto;
}

.w-50 {
  width: 50%;
  margin: auto;
}

.vg-weight-500 {
  font-weight: 500;
}

.vg-pad-vert-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vg-text-blue {
  color: #006aff;
}

.vg-btn-blue {
  border: 1px solid #004aff;
  border-radius: 4px;
  color: #004aff;
}

.vg-btn-back-blue {
  background-color: #579aff;
  color: white;
  border: none;
}

/* /GLOBAL */

/* HEADER */

#vg-header-wrapper {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: white;
}

#vg-header-wrapper img {
  width: 160px;
}

#vg-header-wrapper ul {
  display: inline-block;
}

#vg-header-wrapper ul li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
  font-size: 17px;
  color: black;
  cursor: pointer;
}

/* /HEADER */

/* JUMBOTRON */

/* general jumbotron settings */

#vg-jumbotron {
  width: 100%;
  min-height: 490px;
  margin-top: 70px;
  background-color: #004aff;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: 134%;
  background-position: -221px -7px;
}

/* /general jumbotron settings */

/* box left jumbotron */

#vg-jumbotron .vg-box-left-jumbotron h1 {
  color: white;
  font-size: 62px;
  font-weight: 700;
}

#vg-jumbotron .vg-box-left-jumbotron p {
  color: white;
  font-size: 23px;
  opacity: 0.8;
}

/* /box left jumbotron */

/* box right jumbotron */

#vg-jumbotron .vg-box-right-jumbotron {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#vg-jumbotron .vg-box-right-jumbotron h3 {
  font-size: 29px;
  font-weight: 600;
}

#vg-jumbotron .vg-box-right-jumbotron h3:nth-child(2) {
  margin-top: 0;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron {
  width: 90%;
  margin: 0 auto;
}

#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron input,
#vg-jumbotron .vg-box-right-jumbotron .vg-form-right-jumbotron div {
  width: 100%;
}

.vg-form-right-jumbotron input {
  height: 45px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.vg-form-right-jumbotron input[type="password"],
.vg-form-right-jumbotron div,
.vg-box-right-jumbotron p {
  margin-top: 10px;
}

::placeholder {
  font-size: 16px;
  font-weight: 700;
}

.vg-form-right-jumbotron div img {
  height: 20px;
}

.vg-box-right-jumbotron p {
  font-weight: 500;
}

.vg-box-right-jumbotron p > a {
  color: #579aff;
  text-decoration: underline;
}

/* /box right jumbotron */

/* /JUMBOTRON */

/* CUSTOMERS (LOGO) */
#vg-customers-logo {
  width: 100%;
  min-height: 275px;
  padding-top: 40px;
  background-color: #f3f5f9;
}

#vg-customers-logo h4 {
  font-size: 16px;
  color: #7c87a0;
}

.vg-box-logos > img {
  width: 100%;
  height: 150px;
}

#vg-customers-logo a {
  font-size: 16px;
}

/* /CUSTOMERS (LOGO) */

/* DEPLOY AND SCALE */

#vg-deploy-and-scale {
  width: 100%;
  min-height: 600px;
  padding-top: 80px;
  padding-bottom: 75px;
}

#vg-deploy-and-scale h2 {
  font-size: 31px;
}

#vg-deploy-and-scale p.vg-subtitle-deploy {
  font-size: 22.8px;
  margin-bottom: 75px;
}

.vg-list-deploy-and-scale {
  border-left: 1px solid lightgray;
  padding-left: 8px;
}

.vg-list-deploy-and-scale ul {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.vg-list-deploy-and-scale ul li {
  color: #bfc4cf;
  font-size: 22px;
}

.vg-list-deploy-and-scale ul li:nth-child(2),
.vg-list-deploy-and-scale ul li:nth-child(3),
.vg-list-deploy-and-scale ul li:nth-child(4),
.vg-list-deploy-and-scale ul li:nth-child(5) {
  margin-top: 25px;
}

.vg-box-deploy-and-scale {
  min-height: 200px;
}

.vg-box-deploy-and-scale h4 {
  font-weight: 700;
  margin-top: 20px;
}

.vg-box-deploy-and-scale p {
  font-size: 15px;
}

/* /DEPLOY AND SCALE */

/* DESIGNED FOR DEVELOPERS */

#vg-designed-for-developers {
  width: 100%;
  min-height: 600px;
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #f3f5f9;
}

#vg-designed-for-developers h2 {
  font-size: 31px;
}

#vg-designed-for-developers .vg-subtitle-designed {
  font-size: 22.8px;
  margin-bottom: 75px;
}

#vg-designed-for-developers img {
  width: 50%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.vg-custom-angle {
  font-size: 3.5em;
}

.vg-figcaption-designed {
  font-size: 16px;
  font-weight: 700;
}

/* /DESIGNED FOR DEVELOPERS */

/* FEATURES FOR DEVELOPERS */

#vg-features-for-developers {
  width: 100%;
  height: 600px;
  background-color: lemonchiffon;
}

/* /FEATURES FOR DEVELOPERS */

/* REGIONS */

#vg-regions {
  width: 100%;
  height: 420px;
  background-color: lightsalmon;
}

/* /REGIONS */

/* CUSTOMERS REVIEW */

#vg-customers-review {
  width: 100%;
  height: 600px;
  background-color: palegreen;
}

/* /CUSTOMERS REVIEW */

/* GET STARTED */

#vg-get-started {
  width: 100%;
  height: 250px;
  background-color: powderblue;
}

/* /GET STARTED */

/* FOOTER */

.vg-footer-wrapper {
  width: 100%;
  min-height: 500px;
  background-color: rgba(12, 239, 69, 0.534);
}

/* /FOOTER */

/* MEDIA QUERY CUSTOM */

/* @media all and (max-width: 767px) and (min-width: 480px) {
  .vg-box-logos > img {
    width: 100%;
    min-height: 270px;
  }
} */

/* /MEDIA QUERY CUSTOM */
