/* GLOBALI */

.vg-p-vert-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* /GLOBALI */

/* HEADER */

#vg-header-wrapper {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: salmon;
}

#vg-header-wrapper img {
  width: 160px;
}

#vg-header-wrapper ul {
  display: inline-block;
}

#vg-header-wrapper ul li {
  display: inline-block;
  list-style-type: none;
}

/* /HEADER */

/* JUMBOTRON */

#vg-jumbotron {
  width: 100%;
  height: 500px;
  background-color: lightskyblue;
}

/* /JUMBOTRON */

/* CUSTOMERS (LOGO) */
#vg-customers-logo {
  width: 100%;
  height: 275px;
  background-color: lightgray;
}

/* /CUSTOMERS (LOGO) */

/* DEPLOY AND SCALE */

#vg-deploy-and-scale {
  width: 100%;
  height: 600px;
  background-color: lightslategray;
}

/* /DEPLOY AND SCALE */

/* DESIGNED FOR DEVELOPERS */

#vg-designed-for-developers {
  width: 100%;
  height: 600px;
  background-color: lightpink;
}

/* /DESIGNED FOR DEVELOPERS */

/* FEATURES FOR DEVELOPERS */

#vg-features-for-developers {
  width: 100%;
  height: 600px;
  background-color: lemonchiffon;
}

/* /FEATURES FOR DEVELOPERS */

/* REGIONS */

#vg-regions {
  width: 100%;
  height: 420px;
  background-color: lightsalmon;
}

/* /REGIONS */

/* CUSTOMERS REVIEW */

#vg-customers-review {
  width: 100%;
  height: 600px;
  background-color: palegreen;
}

/* /CUSTOMERS REVIEW */
